<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>

  <appSettings>
    <add key="LB1" value="Sprawdzanie listy"/>
    <add key="LB2" value="Siłownia"/>
    <add key="LB3" value="Nauka 1h+"/>
    <add key="LB4" value="Czytanie 15 min (minimum)"/>
    <add key="LB5" value="Wstawanie na czas"/>
    <add key="LB6" value="Pilnowanie -Lista- dzieci"/>
    <add key="LB7" value="Mycie zębów"/>
    <add key="LB8" value="Pomodlić się"/>
    <add key="LB9" value="Ocena dnia"/>
    <add key="LB0" value="Planowanie dnia wieczorem"/>

    <add key="KB1" value="0,10"/>
    <add key="KB2" value="0,50"/>
    <add key="KB3" value="0,10"/>
    <add key="KB4" value="0,10"/>
    <add key="KB5" value="0,10"/>
    <add key="KB6" value="0,10"/>
    <add key="KB7" value="0,10"/>
    <add key="KB8" value="0,10"/>
    <add key="KB9" value="0,10"/>
    <add key="KB0" value="0,10"/>

    <add key="MB1" value="0,00"/>

    <add key="LP1" value="Sprawdzanie listy"/>
    <add key="LP2" value="Siłownia"/>
    <add key="LP3" value="Programowanie 1h+"/>
    <add key="LP4" value="Czytanie 15 min (minimum)"/>
    <add key="LP5" value="Nie spóźnianie się do pracy"/>
    <add key="LP6" value="Pilnowanie -Zabawki- dzieci"/>
    <add key="LP7" value="Mycie zębów"/>
    <add key="LP8" value="Pomodlić się"/>
    <add key="LP9" value="Ocena dnia"/>
    <add key="LP0" value="Planowanie dnia wieczorem"/>

    <add key="KP1" value="0,10"/>
    <add key="KP2" value="0,33"/>
    <add key="KP3" value="0,10"/>
    <add key="KP4" value="0,10"/>
    <add key="KP5" value="0,10"/>
    <add key="KP6" value="0,10"/>
    <add key="KP7" value="0,10"/>
    <add key="KP8" value="0,10"/>
    <add key="KP9" value="0,10"/>
    <add key="KP0" value="0,10"/>

    <add key="MP1" value="0,00"/>

  </appSettings>
  
</configuration>